<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xql.constellation">

    <application>
        <activity
            android:name=".QueryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FortuneDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConstellationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>