<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xql.constellation">

    <application>
        <activity android:name=".FortuneDetailsActivity"></activity>
        <activity android:name=".ConstellationActivity" />
    </application>

</manifest>